.body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1640px;
}

.header {
    padding: 10px 30px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-size: 40px;
    font-weight: 800;
    user-select: none;
}

.main {
    margin-bottom: 50px;
}

.footer {
    padding: 20px;
    user-select: none;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer__copyright {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    transition: .3s linear;
}

.footer__link:hover {
    color: rgb(223, 190, 190);
}

.footer .footer__copyright:before {
    content: '©';
}

.footer__link {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.footer__link_logo {
    width: 150px;
    height: 50px;
    background-image: url('./assets/images/logo-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background .3s linear;
}

.theme {
    position: relative;
    border-radius: 30px;
}

.theme__input {
    position: relative;
    display: inline-block;
    width: 87px;
    height: 50px;
    margin: 0;
    vertical-align: top;
    background: #fff;
    border: 1px solid #17181c;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);

    
}

.theme__input:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  display: inline-block;
  width: 41px;
  height: 41px;
  background-color: #110d3e;
  border-radius: 50%;
  transform: translate(0, -50%);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.theme__input:checked:after {
    background-color: #30c5ff;
  transform: translate(calc(100% - 2px), -50%);
}

.light {
    background-color: #fff;
}

.light .header__title,
.light .footer__link,
.light .footer__copyright {
    color: #110d3e;
}

.light .source__item {
    border-color: #110d3e;
    color: #110d3e;
}

.light .footer__link_logo {
    background-image: url('./assets/images/logo-black.svg');
}

.main__content_is-open {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.main__content_is-open .sources {
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1601px) {
    .container {
        max-width: 1000px;
    }

    .sources {
        grid-template-columns: repeat(2, 1fr);
    }

    .main__content_is-open  {
        align-items: flex-start;
    }

    .main__content_is-open .sources {
        margin-top: 1rem;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1001px) {

    .container {
        max-width: 720px;
        padding: 0 10px;
    }

    .main__content_is-open {
        grid-template-columns: 1fr 3fr;
    }

    .main__content_is-open .source__item {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .footer__content {
        flex-direction: column;
        gap: 30px;
    }

    .main__content_is-open {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .main__content_is-open .sources {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 601px) {
    .container {
        max-width: 500px;
    }

    .header__title {
        font-size: 28px;
    }

    .header__content {
        flex-direction: column;
    }

    .sources {
        grid-template-columns: 1fr;
    }
}