body {
  margin: auto;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.no-scroll {
  overflow: hidden;
}

.container {
  margin: auto;
  padding: 40px;
  max-width: 1200px;
  height: 900px;
}
.container .btn {
  position: absolute;
  left: 20px;
  top: 30px;
  padding: 5px;
  height: 35px;
  border: 1px solid #977306;
  border-radius: 5px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: white;
  cursor: pointer;
  transition: 0.3s linear;
}
.container .btn:hover {
  background-color: #c2a03c;
  color: black;
  border-color: rgba(255, 255, 255, 0.8);
}

.puzzles {
  position: relative;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 850px;
  background: url("./assets//backrounds/bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.puzzles .control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
  transition: all 0.3s linear;
}
.puzzles .control-panel .control-panel__select {
  background-color: transparent;
  padding: 7px;
  border: 2px solid #c2a03c;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: 0.3s linear;
}
.puzzles .control-panel .control-panel__select .control-panel__option {
  background-color: transparent;
  color: #c2a03c;
  cursor: pointer;
}
.puzzles .control-panel .control-panel__select .control-panel__option:hover {
  background-color: #c2a03c;
  color: white;
}
.puzzles .control-panel .control-panel__btn {
  padding: 5px;
  height: 35px;
  border: 2px solid #c2a03c;
  border-radius: 5px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: white;
  cursor: pointer;
  transition: 0.3s linear;
}
.puzzles .control-panel .control-panel__btn:hover {
  background-color: #c2a03c;
  color: black;
  border-color: rgba(255, 255, 255, 0.8);
}
.puzzles .control-panel .control-panel__btn_music {
  padding: 15px;
  width: 26px;
  height: 26px;
  background-image: url("/jirisimonov-JSFE2022Q3/assets/icons/sound-on.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}
.puzzles .playground {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 600px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.puzzles .playground .playground__item {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  width: 25%;
  height: 25%;
  border-color: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 26px;
  font-weight: 500;
  line-height: 120%;
  color: black;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
.puzzles .playground .playground__item:hover {
  border-color: #c2a03c;
}
.puzzles .is-shuffle .playground__item {
  pointer-events: none;
}
.puzzles .is-won .playground__item {
  border-color: #c2a03c;
}
.puzzles .bottm .bottm__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}
.puzzles .bottm .bottm__wrapper .bottm__link {
  padding: 5px;
  border: 2px solid #c2a03c;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: white;
  text-decoration: none;
  transition: all 0.3s linear;
}
.puzzles .bottm .bottm__wrapper .bottm__link:hover, .puzzles .bottm .bottm__wrapper .bottm__link :focus {
  color: white;
  outline: none;
  background-color: #c2a03c;
  color: black;
  border-color: rgba(255, 255, 255, 0.8);
}

.stats-panel {
  margin: 0 auto;
}
.stats-panel .stats-panel__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  border: 2px solid #c2a03c;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: white;
}
.stats-panel .stats-panel__wrapper .stats-panel__moves-counter {
  margin-right: 5px;
}

.modal .modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  height: 890px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
  overflow: hidden;
  z-index: 10;
}
.modal .modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 340px;
  border: 4px solid #c2a03c;
  border-radius: 50px;
  background-color: white;
  text-align: center;
  transition: all 0.3s linear;
  overflow: hidden;
  background-image: url("./assets/modal/modal.png");
  background-repeat: no-repeat;
  background-position: center -20px;
  background-size: 400px;
}
.modal .modal__content .modal__wrapper {
  padding: 90px 70px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
.modal .modal__content .modal__wrapper .modal__form {
  margin: 10px;
  text-align: center;
}
.modal .modal__content .modal__wrapper .modal__label {
  margin-right: 10px;
}
.modal .modal__content .modal__wrapper .modal__input {
  padding: 2px 10px 2px 4px;
  width: 110px;
  border: 2px solid #c2a03c;
  border-radius: 5px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  text-indent: 5px;
  color: white;
  outline: none;
}
.modal .modal__content .modal__wrapper .modal__input::-moz-placeholder {
  font-size: 14px;
  color: white;
}
.modal .modal__content .modal__wrapper .modal__input:-ms-input-placeholder {
  font-size: 14px;
  color: white;
}
.modal .modal__content .modal__wrapper .modal__input::placeholder {
  font-size: 14px;
  color: white;
}
.modal .modal__content .modal__wrapper .modal__text,
.modal .modal__content .modal__wrapper .modal__turns,
.modal .modal__content .modal__wrapper .modal__time {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: white;
}
.modal .modal__content .modal__wrapper .modal__btn {
  width: 40px;
  padding: 4px;
  border: 2px solid #c2a03c;
  border-radius: 5px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: white;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
.modal .modal__content .modal__wrapper .modal__btn:hover, .modal .modal__content .modal__wrapper .modal__btn:focus {
  background-color: #fff;
  color: #c2a03c;
}

.modal--visible .modal__overlay {
  display: flex;
}/*# sourceMappingURL=styles.css.map */