@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
/* colors */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

section {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 220px;
  max-width: 1160px;
}

.header {
  margin: 0 auto;
  background-color: #000;
}
.header .header__wrapper {
  display: flex;
  align-items: center;
  column-gap: 63px;
  padding: 14px 0;
}
.header .header__wrapper .burger {
  position: relative;
  display: none;
  padding: 0;
  border: none;
  width: 18px;
  height: 10px;
  background-color: transparent;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
.header .header__wrapper .burger:before, .header .header__wrapper .burger:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #FFF;
  transition: all 0.3s linear;
}
.header .header__wrapper .burger:before {
  top: 0;
}
.header .header__wrapper .burger:after {
  bottom: 0;
}
.header .header__wrapper .burger .burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #FFF;
  transform: translateY(-50%);
  transition: all 0.3s linear;
}
.header .header__wrapper .is-open {
  z-index: 12;
}
.header .header__wrapper .is-open:before {
  top: 50%;
  transform: rotate(45deg);
  background-color: #F9804B;
}
.header .header__wrapper .is-open:after {
  top: 50%;
  bottom: auto;
  transform: rotate(-45deg);
  background-color: #F9804B;
}
.header .header__wrapper .is-open .burger__line {
  opacity: 0;
  visibility: hidden;
}
.header .header__link {
  margin-left: auto;
}

.logo {
  max-width: 82px;
}
.logo .logo__title {
  position: relative;
  margin: 0;
  padding: 4px 5px;
  width: 70px;
  height: 42px;
  border: 1px solid #FFF;
  border-radius: 2px;
  transition: all 0.3s linear;
}
.logo .logo__link {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 19px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  background: url("../../assets/icons/bamboo.svg") no-repeat 16% 83%;
  transition: all 0.3s linear;
}
.logo .logo__link:focus {
  color: #F9804B;
  background: url("../../assets/icons/bamboo-active.svg") no-repeat 16% 83%;
  outline: none;
}
.logo:hover .logo__title {
  border-color: #F9804B;
}
.logo:hover .logo__link {
  color: #F9804B;
  background: url("../../assets/icons/bamboo-active.svg") no-repeat 16% 83%;
}

.nav .header__link--burger {
  display: none;
}

.logo--burger {
  display: none;
  max-width: 82px;
}
.logo--burger .logo__title {
  position: relative;
  margin: 0;
  padding: 4px 5px;
  width: 70px;
  height: 42px;
  border-color: #F9804B;
  border-radius: 2px;
  transition: all 0.3s linear;
}
.logo--burger .logo__link {
  position: absolute;
  top: 3px;
  left: 0;
  font-size: 19px;
  font-weight: 400;
  line-height: 120%;
  text-decoration: none;
  text-align: center;
  color: #F9804B;
  background: url("../../assets/icons/bamboo-active.svg") no-repeat 16% 83%;
  transition: all 0.3s linear;
}
.logo--burger .logo__link:focus {
  color: #F9804B;
  background: url("../../assets/icons/bamboo-active.svg") no-repeat 16% 83%;
  outline: none;
}
.logo--burger:hover .logo__title {
  border-color: #F9804B;
}
.logo--burger:hover .logo__link {
  color: #F9804B;
  background: url("../../assets/icons/bamboo-active.svg") no-repeat 16% 83%;
}

.nav__list {
  display: flex;
  column-gap: 58px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link, .header__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
  text-align: center;
  color: #FFF;
  transition: all 0.3s linear;
}
.nav__link:hover, .header__link:hover {
  color: #F9804B;
}
.nav__link:focus, .header__link:focus {
  color: #F9804B;
  text-decoration: underline;
  outline: none;
}

.active {
  color: #F9804B;
}

.btn {
  padding: 17px 65px 16px 65px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  outline: none;
  transition: all 0.3s linear;
}
.btn:hover {
  background: #E47209;
}
.btn:focus {
  color: #333B41;
  background: #E47209;
  outline: 0;
}
.btn:active {
  background: #4B9200;
  color: #FFF;
}

.donate {
  position: relative;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}
.donate:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 386px;
  background-image: url("../../assets/images/donate/panda_bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}
.donate .donate__wrapper {
  position: relative;
  padding-top: 426px;
  padding-bottom: 180px;
}

.donate__title {
  margin: 0 0 11px 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 130%;
  color: #FFF;
  text-transform: uppercase;
}

.donate__title--orange {
  color: #FE9013;
  text-transform: none;
  margin-bottom: 60px;
}

.donate__text {
  margin: 0 0 44px 0;
  max-width: 1140px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #FFF;
}

.donation {
  padding: 39px 90px 62px 94px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  text-align: center;
}

.donation__title {
  margin: 0 auto 20px auto;
  padding-right: 12px;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  color: #FE9013;
}

.donation__text {
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: #333B41;
  text-align: left;
}

.donation__wrapper {
  margin-bottom: 51px;
}
.donation__wrapper .donation__line {
  display: flex;
  margin: 0 0 12px 0;
  padding: 9px 30px 8px 30px;
  max-width: 920px;
  border-radius: 2px;
  list-style: none;
  background-color: #404950;
}
.donation__wrapper .donation__item {
  position: relative;
  height: 10px;
  cursor: pointer;
}
.donation__wrapper .donation__item:not(:last-child) {
  padding-right: 65px;
}
.donation__wrapper .donation__item:not(:first-child) {
  padding-left: 65px;
}
.donation__wrapper .donation__item:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #72828E;
  transform: translateY(-50%);
  transition: all 0.3s linear;
}
.donation__wrapper .donation__item .donation__btn {
  position: absolute;
  left: 30px;
  top: -30px;
  padding: 30px;
}
.donation__wrapper .donation__item:first-child .donation__btn {
  left: -30px;
}
.donation__wrapper .donation__item:last-child .donation__btn {
  left: 30px;
}
.donation__wrapper .donation__item .active .donation__button:before {
  opacity: 0;
  visibility: hidden;
}
.donation__wrapper .donation__item .active .donation__button:after {
  opacity: 1;
  visibility: visible;
}

.donation__button {
  position: relative;
  margin: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 0;
  background-color: #FFEE2E;
  transition: all 0.3s linear;
}
.donation__button:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 23px;
  height: 23px;
  border: 2px solid #FE9013;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.donation__button:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid #FE9013;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}

.active .donation__btn .donation__button:before {
  opacity: 1;
  visibility: visible;
}
.active .donation__btn .donation__button:after {
  opacity: 1;
  visibility: visible;
}

.target .donation__button:before {
  opacity: 1;
  visibility: visible;
}
.target .donation__button:after {
  opacity: 1;
  visibility: visible;
}

.diet {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 90px;
  margin: 0 auto 48px auto;
  padding: 0 12px 0 0;
}
.diet .diet__info {
  padding-top: 58px;
}
.diet .diet__count {
  position: relative;
  margin-bottom: 11px;
  font-size: 72px;
  font-weight: 700;
  line-height: 80%;
  color: #000;
}
.diet .diet__count:before {
  position: absolute;
  content: "";
  top: 42%;
  left: 170px;
  width: 14px;
  height: 14px;
  background-image: url("../../assets/icons/x.svg");
}
.diet .diet__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #333B41;
}

.donation__descr {
  text-align: left;
  margin-bottom: 17px;
  padding-left: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #000;
}

.donation__count {
  display: flex;
  margin: 0 0 12px 0;
  padding: 0;
  max-width: 950px;
  list-style: none;
}

.donation__total {
  padding-left: 12px;
  background-image: url("../../assets/icons/dollar.svg");
  background-repeat: no-repeat;
  background-position: center left;
  font-size: 26px;
  font-weight: 500;
  line-height: 140%;
  color: #333B41;
  transition: all 0.3s linear;
}
.donation__total:first-child {
  margin-right: 59px;
}
.donation__total:not(:first-child) {
  margin-right: 59px;
}
.donation__total:nth-child(4) {
  margin-right: 74px;
}
.donation__total:nth-child(5) {
  margin-right: 73px;
}
.donation__total:nth-child(6) {
  margin-right: 74px;
}
.donation__total:nth-child(7) {
  margin-right: 89px;
}

.current {
  background-image: url("../../assets/icons/dollar-a.svg");
  color: #FE9013;
}

.target .donation__button:after {
  opacity: 1;
  visibility: visible;
}

.donation__item:hover:before {
  background-color: #E47209;
}

.donation__input {
  margin-bottom: 23px;
  padding: 15px 20px 15px 9px;
  border: 1px solid #929699;
  border-radius: 2px;
  width: 239px;
  background-color: transparent;
  background-image: url("../../assets/icons/dollar-g.svg");
  background-repeat: no-repeat;
  background-position: 247px center;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #333B41;
  transition: all 0.3s linear;
}
.donation__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #929699;
}
.donation__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.donation__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.donation__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.donation__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.donation__input:hover, .donation__input:focus, .donation__input:active {
  background-image: url("../../assets/icons/dollar-active.svg");
  border-color: #4B9200;
  outline: none;
  color: #4B9200;
}

.radio {
  display: flex;
  column-gap: 50px;
  margin: 0 auto 30px auto;
  max-width: 218px;
}
.radio .radio__input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  cursor: pointer;
}
.radio .radio__text {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #333B41;
  cursor: pointer;
}
.radio .radio__text:before {
  content: "";
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #FE9013;
  z-index: 2;
}
.radio .radio__text:after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #4B9200;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s linear;
  opacity: 0;
  z-index: 1;
}
.radio .radio__input:checked + .radio__text:after {
  opacity: 1;
}

.donation__share {
  margin-top: 29px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #333B41;
}

.footer {
  background-color: #000;
  margin: 0 auto;
}
.footer .footer__wrapper {
  padding: 41px 0 50px 0;
}
.footer .footer__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 174px 134px;
  row-gap: 44px;
  margin: 0 auto;
  padding: 0;
}
.footer .footer__item:nth-child(1) {
  grid-column: 1/1;
  grid-row: 1/1;
}
.footer .footer__item:nth-child(2) {
  align-self: flex-end;
  grid-column: 1/3;
  grid-row: 1;
  padding-bottom: 16px;
}
.footer .footer__item:nth-child(3) {
  align-self: flex-end;
  grid-row: 2;
}
.footer .footer__item:nth-child(4) {
  grid-column: 3;
  grid-row: 1/2;
  padding-left: 20px;
}
.footer .footer__item:nth-child(5) {
  align-self: flex-end;
  grid-column: 3;
  grid-row: 2;
}
.footer .social__list {
  padding: 0;
  list-style: none;
}
.footer .social__item:nth-child(1) .social__link:after {
  background-image: url("../../assets/icons/facebook.svg");
}
.footer .social__item:nth-child(2) .social__link:after {
  background-image: url("../../assets/icons/twitter.svg");
}
.footer .social__item:nth-child(3) .social__link:after {
  background-image: url("../../assets/icons/instargam.svg");
}
.footer .social__item:nth-child(4) .social__link:after {
  background-image: url("../../assets/icons/YouTube.svg");
}
.footer .social__item:not(:last-child) {
  margin-bottom: 14px;
}
.footer .social__link {
  position: relative;
  padding-left: 38px;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #FFF;
  text-decoration: none;
  transition: all 0.3s linear;
}
.footer .social__link:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #C4C4C4;
  transition: all 0.3s linear;
}
.footer .social__link:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
}
.footer .social__link:hover, .footer .social__link:focus {
  outline: none;
  color: #4B9200;
}
.footer .social__link:hover:before {
  background-color: #4B9200;
}
.footer .social__link:focus:before {
  background-color: #4B9200;
}
.footer .nav__list {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
}
.footer .footer__title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: #FFF;
}
.footer .footer__controls {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-top: 14px;
}
.footer .footer__label {
  display: inline-flex;
  padding: 1px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 2px;
}
.footer .footer__label:hover, .footer .footer__label:focus {
  background: transparent;
}
.footer .footer__label:hover .footer__input, .footer .footer__label:focus .footer__input {
  border-color: #4B9200;
  outline: none;
}
.footer .footer__input {
  margin: 0;
  padding: 9px 7px 9px 7px;
  width: 210px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #000;
  color: #BDBDBD;
  transition: all 0.3s linear;
}
.footer .footer__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #BDBDBD;
}
.footer .footer__btn {
  padding: 9px 10px;
  width: 129px;
  max-height: 42px;
  border: 1px solid #333B41;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #000;
  cursor: pointer;
  transition: all 0.3s linear;
}
.footer .footer__btn:hover, .footer .footer__btn:focus {
  border-color: #4B9200;
  color: #4B9200;
  outline: none;
}
.footer .btn {
  padding: 17px 50px 18px 50px;
  border-radius: 5px;
}
.footer .copyright {
  margin-left: auto;
  max-width: 230px;
}
.footer .copyright .copyright__author, .footer .copyright .copyright__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 130%;
  color: #FFF;
  transition: all 0.3s linear;
}
.footer .copyright .copyright__author {
  margin-bottom: 11px;
}
.footer .copyright:hover .copyright__author, .footer .copyright:hover .copyright__text {
  border-bottom: 1px solid #4B9200;
  color: #4B9200;
  outline: none;
}

@media (max-width: 1599px) {
  .container {
    padding: 0 30px;
    max-width: 940px;
  }
  .header .nav__list {
    column-gap: 48px;
  }
  .donate .donate__wrapper {
    padding-top: 431px;
    padding-bottom: 30px;
  }
  .donate .donate__wrapper:before {
    height: 390px;
    background-image: url("../../assets/images/donate/panda_bg.jpg");
    background-position: top center;
  }
  .donate__title {
    margin-bottom: 30px;
    max-width: 778px;
  }
  .donate__title--orange {
    margin-bottom: 40px;
  }
  .donate__text {
    max-width: 930px;
  }
  .donation {
    margin: 0 auto;
    padding: 21px 34px 43px 47px;
  }
  .donation .donation__wrapper .donation__line {
    display: flex;
    padding: 9px 9px 8px 11px;
    max-width: 790px;
    background-color: #404950;
  }
  .donation .donation__wrapper .donation__item:nth-child(1) {
    display: none;
  }
  .donation .donation__wrapper .donation__item:not(:last-child) {
    padding-right: 65px;
  }
  .donation .donation__wrapper .donation__item:not(:nth-child(2)) {
    padding-left: 65px;
  }
  .donation .donation__wrapper .donation__item:nth-child(2) {
    padding-left: 0;
  }
  .donation .donation__wrapper .donation__item:nth-child(2) .donation__btn {
    left: -30px;
  }
  .donation .donation__wrapper .donation__item:last-child .donation__btn {
    left: 30px;
  }
  .donation .donation__wrapper .donation__item .active .donation__button:before {
    opacity: 0;
    visibility: hidden;
  }
  .donation .donation__wrapper .donation__item .active .donation__button:after {
    opacity: 1;
    visibility: visible;
  }
  .donation .donation__wrapper .donation__count {
    max-width: 810px;
  }
  .donation .donation__wrapper .donation__count .donation__total:first-child {
    display: none;
  }
  .donation .donation__title {
    margin: 0 25px 10px auto;
    padding-right: 5px;
  }
  .donation .diet {
    justify-content: space-between;
    margin-bottom: 45px;
    padding: 0;
    max-width: 565px;
    column-gap: 60px;
  }
  .donation .diet__img {
    padding-right: 31px;
  }
  .donation .donation__descr {
    padding-left: 18px;
  }
  .donation .donation__wrapper {
    margin-left: 18px;
  }
  .donation .donation__label {
    padding-right: 13px;
  }
  .donation .radio {
    max-width: 230px;
  }
  .donation .btn {
    margin-right: 9px;
  }
  .donation .donation__share {
    margin-right: 10px;
  }
  .footer .footer__wrapper {
    padding: 41px 0 50px 0;
  }
  .footer .footer__item:nth-child(4) {
    padding-right: 20px;
  }
  .footer .nav__list {
    column-gap: 48px;
    padding-left: 30px;
  }
}
@media (max-width: 1024px) {
  .donate:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 390px;
    background-image: url("../../assets/images/donate/panda_bg-sm.jpg");
    background-repeat: no-repeat;
    background-position: top center;
  }
}
@media (max-width: 999px) {
  .container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 600px;
  }
  .header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .header .nav {
    display: none;
    transition: all 0.3s linear;
  }
  .header .nav--open {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 40px 10px;
    width: 300px;
    background-color: #FFF;
    z-index: 11;
  }
  .header .nav--open .logo--burger {
    display: block;
    margin-bottom: 30px;
    max-width: 82px;
  }
  .header .nav--open .logo--burger .logo__title {
    position: relative;
    margin: 0;
    padding: 4px 5px;
    width: 70px;
    height: 42px;
    border: 1px solid #F9804B;
    border-radius: 2px;
    transition: all 0.3s linear;
  }
  .header .nav--open .logo--burger .logo__link {
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 19px;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
    text-align: center;
    color: #F9804B;
    background: url("../../assets/icons/bamboo-active.svg") no-repeat 16% 83%;
    transition: all 0.3s linear;
  }
  .header .nav--open .logo--burger .logo__link:focus {
    color: #F9804B;
    background: url("../../assets/icons/bamboo-active.svg") no-repeat 16% 83%;
    outline: none;
  }
  .header .nav--open .logo--burger:hover .logo__title {
    border-color: #F9804B;
  }
  .header .nav--open .logo--burger:hover .logo__link {
    color: #F9804B;
    background: url("../../assets/icons/bamboo-active.svg") no-repeat 16% 83%;
  }
  .header .nav--open .header__link--burger {
    text-align: left;
    display: block;
    margin-left: 0;
    color: #333B41;
  }
  .header .nav--open .nav__list {
    flex-direction: column;
    align-items: start;
    text-align: left;
  }
  .header .nav--open .nav__list .nav__item {
    margin-bottom: 15px;
  }
  .header .nav--open .nav__list .nav__link {
    color: #333B41;
  }
  .header .nav--open .nav__list .active {
    color: #E47209;
  }
  .header .header__link {
    display: none;
  }
  .header .header__wrapper {
    padding: 2px 0 3px 0;
  }
  .header .header__wrapper .burger {
    display: block;
    margin: auto 0 auto auto;
    opacity: 1;
    visibility: visible;
  }
  .header .logo {
    max-width: 46px;
  }
  .header .logo .logo__title {
    position: relative;
    margin: 0;
    padding: 0;
    width: 47px;
    height: 29px;
    border: none;
    border-radius: 0;
    transition: all 0.3s linear;
  }
  .header .logo .logo__link {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: #FFF;
    background: url("../../assets/icons/bamboo-t.svg") no-repeat 10% 83%;
  }
  .header .logo .logo__link:focus {
    color: #F9804B;
    background: url("../../assets/icons/bamboo-t-active.svg") no-repeat 13% 83%;
    outline: none;
  }
  .header .logo:hover .logo__link {
    color: #F9804B;
    background: url("../../assets/icons/bamboo-t-active.svg") no-repeat 13% 83%;
  }
  .donate:before {
    display: none;
  }
  .donate .container {
    position: relative;
  }
  .donate .container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 335px;
    background-image: url("../../assets/images/donate/panda_bg-sm.jpg");
    background-repeat: no-repeat;
    background-position: top center;
  }
  .donate .donate__wrapper {
    padding-top: 367px;
    padding-bottom: 45px;
  }
  .donate .donate__wrapper:before {
    display: none;
  }
  .donate__title {
    margin-bottom: 17px;
    font-size: 24px;
    max-width: 600px;
    line-height: 120%;
  }
  .donate__text {
    margin-bottom: 30px;
    max-width: 600px;
    text-align: left;
    line-height: 22.4px;
  }
  .donate__text .donate__medium {
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
  }
  .donate__title--orange {
    margin-bottom: 29px;
    font-size: 36px;
    font-weight: 400;
    line-height: 130%;
  }
  .donation {
    padding: 30px 0 31px 0;
    text-align: center;
  }
  .donation .donation__wrapper {
    margin-left: 0;
  }
  .donation .donation__wrapper .donation__line {
    display: flex;
    padding: 9px 35px 8px 35px;
    max-width: 530px;
    background-color: #404950;
  }
  .donation .donation__wrapper .donation__item:nth-child(1) {
    display: none;
  }
  .donation .donation__wrapper .donation__item:nth-child(2) {
    display: none;
  }
  .donation .donation__wrapper .donation__item:nth-child(3) {
    display: none;
  }
  .donation .donation__wrapper .donation__item:not(:last-child) {
    padding-right: 65px;
  }
  .donation .donation__wrapper .donation__item:not(:nth-child(4)) {
    padding-left: 65px;
  }
  .donation .donation__wrapper .donation__item:nth-child(4) {
    padding-left: 0;
  }
  .donation .donation__wrapper .donation__item:nth-child(4) .donation__btn {
    left: -30px;
  }
  .donation .donation__wrapper .donation__item:last-child .donation__btn {
    left: 30px;
  }
  .donation .donation__wrapper .donation__item .active .donation__button:before {
    opacity: 0;
    visibility: hidden;
  }
  .donation .donation__wrapper .donation__item .active .donation__button:after {
    opacity: 1;
    visibility: visible;
  }
  .donation .donation__wrapper .donation__count {
    max-width: 785px;
    padding-left: 18px;
  }
  .donation .donation__wrapper .donation__count .donation__total:first-child {
    display: none;
  }
  .donation .donation__wrapper .donation__count .donation__total:nth-child(2) {
    display: none;
  }
  .donation .donation__wrapper .donation__count .donation__total:nth-child(3) {
    display: none;
  }
  .donation .donation__title {
    margin: 0 auto 22px auto;
    padding-right: 0;
  }
  .donation .donation__text {
    margin: 0 auto 48px auto;
    text-align: center;
  }
  .donation .diet {
    margin-bottom: 38px;
    max-width: 546px;
    gap: 0;
  }
  .donation .diet__img {
    padding-right: 14px;
  }
  .donation .donation__descr {
    margin-bottom: 6px;
    padding-left: 10px;
  }
  .donation .donation__label {
    padding: 0;
  }
  .donation .donation__input {
    margin-bottom: 31px;
    padding: 8px 8px 9px 2px;
    width: 167px;
    background-position: 160px center;
  }
  .donation .radio {
    margin-bottom: 28px;
    max-width: 218px;
  }
  .donation .btn {
    margin: 0;
  }
  .donation .donation__share {
    margin-right: 0;
  }
  .footer .footer__wrapper {
    padding: 11px 0 12px 0;
  }
  .footer .footer__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 140px 119px;
    row-gap: 0;
    margin: 0 auto;
    padding: 0;
  }
  .footer .footer__item:nth-child(1) {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .footer .footer__item:nth-child(2) {
    align-self: flex-end;
    grid-column: 1/2;
    grid-row: 1;
    padding-bottom: 16px;
  }
  .footer .footer__item:nth-child(3) {
    margin-left: auto;
    align-self: flex-start;
    grid-column: 2/2;
    grid-row: 1/2;
  }
  .footer .footer__item:nth-child(3) .social__link {
    padding: 14px 0 0 26px;
    font-size: 0;
  }
  .footer .footer__item:nth-child(4) {
    display: none;
  }
  .footer .footer__item:nth-child(5) {
    align-self: flex-end;
    grid-column: 2;
    grid-row: 2;
  }
  .footer .footer__item:nth-child(6) {
    align-self: flex-end;
    grid-column: 1;
    grid-row: 2;
  }
  .footer .nav__list {
    position: relative;
    column-gap: 37px;
    padding: 0;
  }
  .footer .social__list {
    padding: 0;
    list-style: none;
  }
  .footer .social__item {
    width: 26px;
    height: 26px;
  }
  .footer .social__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer .logo {
    margin-bottom: 5px;
  }
}
@media (max-width: 639px) {
  .container {
    overflow: hidden;
    padding: 0 10px;
  }
  .donate .donate__title {
    margin-bottom: 20px;
  }
  .donate .donate__title--orange {
    margin-bottom: 29px;
  }
  .donate .donate__text {
    margin-bottom: 26px;
  }
  .donate__title--orange {
    font-size: 24px;
    line-height: 120%;
  }
  .donation {
    padding: 21px 0 20px 0;
  }
  .donation .donation__wrapper {
    margin-bottom: 25px;
  }
  .donation .donation__wrapper .donation__line {
    display: flex;
    margin: 0 0 7px 0;
    padding: 5px 17px 5px 17px;
    max-width: 266px;
    border-radius: 2px;
    list-style: none;
    background-color: #404950;
  }
  .donation .donation__wrapper .donation__item {
    height: 3px;
  }
  .donation .donation__wrapper .donation__item:nth-child(4) .donation__btn {
    left: -20px;
  }
  .donation .donation__wrapper .donation__item:last-child .donation__btn {
    left: 10px;
  }
  .donation .donation__wrapper .donation__item:not(:last-child) {
    padding-right: 35px;
  }
  .donation .donation__wrapper .donation__item:not(:nth-child(4)) {
    padding-left: 35px;
  }
  .donation .donation__wrapper .donation__button {
    position: relative;
    margin: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    font-size: 0;
    background-color: #FFEE2E;
    transition: all 0.3s linear;
  }
  .donation .donation__wrapper .donation__button:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    border: 1px solid #FE9013;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
  }
  .donation .donation__wrapper .donation__button:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #FE9013;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
  }
  .donation .donation__wrapper .target .donation__button:before {
    opacity: 1;
    visibility: visible;
  }
  .donation .donation__wrapper .target .donation__button:after {
    opacity: 1;
    visibility: visible;
  }
  .donation .donation__wrapper .donation__btn {
    position: absolute;
    left: 10px;
    top: -20px;
    padding: 20px;
  }
  .donation .donation__wrapper .donation__count {
    padding-left: 8px;
    max-width: 300px;
  }
  .donation .donation__wrapper .donation__count .donation__total {
    padding-left: 6px;
    font-size: 13px;
    background-image: url("../../assets/icons/dollar-m.svg");
    background-position: center left;
  }
  .donation .donation__wrapper .donation__count .donation__total:nth-child(3) {
    margin-right: 36px;
  }
  .donation .donation__wrapper .donation__count .donation__total:nth-child(4) {
    margin-right: 36px;
  }
  .donation .donation__wrapper .donation__count .donation__total:nth-child(5) {
    margin-right: 36px;
  }
  .donation .donation__wrapper .donation__count .donation__total:nth-child(6) {
    margin-right: 38px;
  }
  .donation .donation__wrapper .donation__count .donation__total:nth-child(7) {
    margin-right: 45px;
  }
  .donation .donation__wrapper .donation__count .current {
    background-image: url("../../assets/icons/dollar-m-a.svg");
    color: #FE9013;
  }
  .donation .donation__input {
    margin-bottom: 25px;
    padding: 10px 9px 7px 7px;
    width: 162px;
  }
  .donation .donation__title {
    margin-bottom: 12px;
  }
  .donation .donation__share {
    white-space: nowrap;
    text-align: left;
  }
  .donation .donation__text {
    margin-bottom: 14px;
    font-size: 16px;
  }
  .donation .donation__descr {
    margin-bottom: 7px;
    padding-left: 0;
  }
  .donation .donation__title {
    font-size: 24px;
  }
  .donation .diet {
    margin-bottom: 0;
    width: 100%;
    max-width: 300px;
    justify-content: space-between;
  }
  .donation .diet .diet__info {
    padding-left: 5px;
    padding-top: 36px;
  }
  .donation .diet .diet__count {
    font-size: 40px;
  }
  .donation .diet .diet__count:before {
    top: 51%;
    left: 90px;
    background-image: url("../../assets/icons/x-m.svg");
    background-repeat: no-repeat;
  }
  .donation .diet .diet__text {
    max-width: 80px;
    font-size: 9px;
  }
  .donation .diet .diet__picture .diet__img {
    padding: 0;
  }
  .donation .radio {
    margin-bottom: 27px;
  }
  .footer {
    max-height: 334px;
  }
  .footer .footer__wrapper {
    padding: 15px 0 0 0;
  }
  .footer .logo {
    margin: 0 auto;
    max-width: 128px;
    height: 23px;
  }
  .footer .logo .logo__title {
    position: relative;
    margin: 0;
    padding: 0;
    width: 128px;
    height: 23px;
    border: none;
    border-radius: 0;
  }
  .footer .logo .logo__link {
    position: relative;
    top: 0;
    left: 0;
    font-size: 19px;
    color: #FFF;
    background: none;
  }
  .footer .logo .logo__link:before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 72px;
    width: 20px;
    height: 40px;
    background-image: url("../../assets/icons/bamboo.svg");
    background-repeat: no-repeat;
    transition: all 0.3s linear;
  }
  .footer .logo .logo__link:focus {
    color: #F9804B;
    background: none;
    outline: none;
  }
  .footer .logo:hover .logo__link {
    color: #F9804B;
    background: none;
  }
  .footer .logo:hover .logo__link:before {
    background-image: url("../../assets/icons/bamboo-active.svg");
    background-repeat: no-repeat;
  }
  .footer .footer__list {
    grid-template-columns: 100%;
    grid-template-rows: 27px 30px repeat(3, 1fr);
    gap: 30px;
  }
  .footer .footer__item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .footer .footer__item:nth-child(2) {
    grid-column: 1;
    grid-row: 3;
  }
  .footer .footer__item:nth-child(3) {
    margin-left: 0;
    align-self: flex-start;
    grid-column: 1;
    grid-row: 2;
  }
  .footer .footer__item:nth-child(4) {
    grid-column: 1;
    grid-row: 3;
  }
  .footer .footer__item:nth-child(5) {
    grid-column: 1;
    grid-row: 4;
    margin-left: auto;
  }
  .footer .footer__item:nth-child(6) {
    grid-column: 1;
    grid-row: 5;
    align-self: flex-start;
  }
  .footer .nav__list {
    gap: 30px;
    padding-left: 11px;
  }
  .footer .social {
    margin: 0 auto;
    max-width: 194px;
  }
  .footer .social__list {
    display: flex;
    gap: 30px;
  }
  .footer .social__item:not(:last-child) {
    margin: 0;
  }
  .footer .copyright {
    text-align: center;
    margin: 0 auto;
  }
  .footer .copyright .copyright__author, .footer .copyright .copyright__text {
    font-size: 15px;
  }
  .footer .btn {
    padding-bottom: 18px;
  }
}
@media (max-width: 322px) {
  .donate .container:before {
    height: 187px;
    background-image: url("../../assets/images/donate/panda_bg-m.png");
    background-repeat: no-repeat;
    background-position: top center;
  }
  .donate .donate__wrapper {
    padding-top: 217px;
    padding-bottom: 21px;
  }
}

/*# sourceMappingURL=styles.css.map */
