@import "../../assets/fonts/fonts";
@import "../../assets/styles/vars";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

section {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 220px;
  max-width: 1160px;
}

.header {
  background-color: $Black;
  .header__wrapper {
    display: flex;
    align-items: center;
    column-gap: 63px;
    padding: 14px 0;
  }
  .header__link {
    margin-left: auto;
  }
}

.logo {
  .logo__title {
    position: relative;
    margin: 0;
    padding: 4px 5px;
    width: 70px;
    height: 42px;
    border: 1px solid $White;
    border-radius: 2px;
    transition: all 0.3s linear;
  }
  .logo__link {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 19px;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
    text-align: center;
    color: $White;
    background: url('../../assets/icons/bamboo.svg') no-repeat 16% 83%;
    transition: all 0.3s linear;
    &:focus {
      color: $Orange;
      background: url('../../assets/icons/bamboo-active.svg') no-repeat 16% 83%;
      outline: none;
    }
  }
  &:hover {
    .logo__title {
      border-color: $Orange;
    }
    .logo__link {
      color: $Orange;
      background: url('../../assets/icons/bamboo-active.svg') no-repeat 16% 83%;
    }
  }
}

.nav__list {
  display: flex;
  column-gap: 58px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__link, .header__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
  text-align: center;
  color: $White;
  transition: all 0.3s linear;
  &:hover {
    color: $Orange;
  }
  &:focus {
    color: $Orange;
    text-decoration: underline;
    outline: none;
  }
  }

.active {
  color: $Orange;
}

.btn {
  padding: 16px 10px;
  width: 278px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  color: $White;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $Orange;
  transition: all .3s linear;
  &:hover {
    background-color: $Orange_dark;
  }
}

/* hero */

.hero {
  text-align: center;
  background-image: url('../../assets/images/hero/Giant Panda.jpg');
  background-repeat: no-repeat;
  background-position: center -80px;
  .hero__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 60px;
    margin-left: auto;
    padding: 86px 0 100px 0;
    max-width: 597px;
    background-image: url('../../assets/images/hero/bg.png');
    background-repeat: no-repeat;
    background-position: left 12px;
  }
  .hero__title {
    margin: 0;
    max-width: 500px;
    font-size: 106px;
    font-weight: 700;
    line-height: 75%;
    color: $White;
    text-transform: uppercase;
  }
  .hero__title--yellow {
    color: $Yellow;
  }
}

/* info */

.info {
  .container {
    background-image: url('../../assets/images/info/info-bg.png');
    background-repeat: no-repeat;
    background-position: right 12px;
  }
  .info__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 87px;
    padding: 140px 0 180px 0;
    .info__title {
      margin: 0 0 20px 0;
      font-size: 48px;
      font-weight: 400;
      line-height: 120%;
      color: $Black_blue;
    }
    .info__text {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 130%;
      color: $Black_blue;
    }
    .info__title--small {
      margin: 54px 0 34px 0;
      font-size: 24px;
    }
    .info__text--blh {
      line-height: 140%;
    }
  }
}


