@import url(./vars.scss);

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  padding: 0;
  background-color: #e7dada;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  cursor: url('./images/mouse-pointer.svg') 50  50;
}

.container {
  width: 100%;
  max-width: 1500px;
  padding: 0 100px;
  margin: 0 auto;
}

.header {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    .header__logo {
      width: 363px;
      height: 45px;
      background-image: url(./images/logo.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.footer {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.game {
  margin-top: 35px;
  .game__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
    .game__section {
      flex: auto;
      padding: 18px;
      background-color: #c16b89;
      font-size: 24px;
      font-weight: 400;
      line-height: auto;
      text-align: center;
      user-select: none;
      &:nth-child(1) {
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
      }
      &:last-child {
        border-top-right-radius: 13px;
        border-bottom-right-radius: 13px;
      }
    }
    .active {
      background-color: #a73962;
      color: white;
      font-weight: 700;
    }
  }
}

.audio {
    margin-bottom: 45px;
    padding: 22px 65px;
    height: 252px; // remove
    border-radius: 13px;
    background-color: #EDE7E7;
    background-image: url('./images/unknown.png');
    background-repeat: no-repeat;
    background-position: 65px center;
    .audio__wrapper {
        margin-left: auto;
        max-width: 1250px;
        .audio__btn {
            margin: 0;
            padding: 20px;
            width: 92px;
            height: 92px;
            border: 3px solid #a73962;
            border-radius: 50%;
            background-color: transparent;
            background-image: url('./images/play.svg');
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
    }
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  margin-bottom: 45px;

  .questions__wrapper {
    padding: 0 28px;
    background-color: #ede7e7;
  }

  .questions__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    border-radius: 13px;
    .questions__label {
      position: relative;
      padding: 21px 0;
      width: 100%;
      font-size: 24px;
      font-weight: 400;
      line-height: auto;
      color: #000;
      cursor: pointer;
      &:not(:last-child) {
        border-bottom: 3px solid #b09e9e;
      }
      .questions__input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
      }
      .questions__checkbox {
        position: absolute;
        right: 0;
        width: 25px;
        height: 25px;
        border: 2px solid transparent;
        border-radius: 50%;
        background-color: #b09e9e;
        transition: background .3s linear;
      }
      .questions__input:checked + .questions__checkbox {
        background-color: #a73962;
      }
      .questions__input:hover + .questions__checkbox {
        border-color: #a73962;
      }
      .questions__input:checked:hover + .questions__checkbox {
        border-color: white;
      }
      .questions__input:focus + .questions__checkbox {
        border-color: #a73962;
      }
      .questions__input:checked:focus + .questions__checkbox {
        border-color: white;
      }
    }
    .true {
      //background-color: green;
      .questions__input:checked + .questions__checkbox {
        display: none;
      }
      .questions__input + .questions__checkbox {
        display: none;
      }
    }
    .false {
      //background-color: red;
      .questions__input:checked + .questions__checkbox {
        display: none;
      }
      .questions__input + .questions__checkbox {
        display: none;
      }
    }
  }
  .questions__container {
    padding: 25px 28px;
    width: 50%;
    border-radius: 13px;
    background-color: #ede7e7;
    height: 379px;

    .descr__text {
      font-size: 24px;
      font-weight: 400;
      color: #000;
      text-align: center;
    }
    .descr__container {
      display: flex;
      gap: 25px;
      .descr__img {
        max-width: 261px;
        max-height: 202px;
        border-radius: 15px;
      }
      .descr__content {
        display: flex;
        flex-direction: column;
        .descr__title {
          margin-bottom: 19px;
          font-size: 32px;
          font-weight: 400;
          color: #000;
        }
        .descr__suptitle {
          margin-bottom: 29px;
          font-size: 24px;
          font-weight: 400;
          color: #000;
        }
      }
    }
  }
}

.game__btn {
  margin-bottom: 80px;
  padding: 19px 0;
  width: 100%;
  border: 2px solid #cfc1c1;
  border-radius: 13px;
  background-color: #cfc1c1;
  font-size: 24px;
  font-weight: 400;
  line-height: auto;
  color: black;
  cursor: pointer;
  transition: 0.3s linear;
  &:hover,
  &:focus {
    color: white;
    background-color: #a73962;
  }
  &:disabled {
    background-color: #A73962;
    pointer-events: none;
  }
}

.footer {
  position: relative;
  margin-top: auto;
  padding: 20px;
  background-color: #c16b89;
  .footer__link,
  .footer__copyright {
    font-size: 24px;
    font-weight: 500;
    line-height: auto;
    text-align: center;
    color: black;
    text-decoration: none;
    transition: color 0.3s linear;
    &:hover,
    &:focus {
      color: #e7dada;
    }
  }
}

.swan {
    position: absolute;
    top: -60px;
    right: 0;
    width: 94px;
    height: 65px;
    background-image: url('./images/swan.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: swan-roaming 40s infinite linear;
}

@keyframes swan-roaming {
    0% {
        right: 0;
        transform: scaleX(1);
    }

    49% {
        right: 100%;
        transform: scaleX(1);
    }
    
    50% {
        transform: scaleX(-1);
    }
    
    51% {
        right: calc(100% - 94px);
        transform: scaleX(-1);
    }

    100% {
        transform: scaleX(-1);
    }
}