h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  padding: 0;
  background-color: #e7dada;
  transition: .2s linear;
}

.dark {
  background-color: #110D3E;
  .swan {
    background-image: url('./images/swan_light.png');
  }
  .header .header__wrapper .controls .header__score{
    color: white;
  }
  .start-page {
    .main {
      background-image: url('./images/wing-dark.png');
      background-size: 900px 992px;
    }
  }
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  cursor: url("./images/mouse-pointer.svg") 50 50;
}

.start-page {
  .main {
    width: 100%;
    height: 955px;
    background-image: url('./images/wing-light.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 717px 955px;
  }
}

.results-page {
  .main__wrapper {
    margin: 45px 0;
    padding: 75px 50px;
    border-radius: 13px;
    background: 
    url('./images/results/ice-tea.png') 1% 40px,
    url('./images/results/music.png') 97% 40px;
    ;
    background-repeat: no-repeat;
    background-color: #EDE7E7;
    text-align: center;
  }
  .main__title {
    font-size: 64px;
    font-weight: 400;
    color: #000;
  }
  .main__descr {
    font-size: 36px;
    font-weight: 400;
    color: #000;
  }
  .main__btn {
    width: 100%;
    padding: 21px 10px;
    border: none;
    border-radius: 13px;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    background-color: #C16B89;
  }
  .results__bold {
    font-weight: 700;
  }
}

.container {
  width: 100%;
  max-width: 1690px;
  padding: 0 105px;
  margin: 0 auto;
}

.header {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 30px;
    .header__logo {
      width: 363px;
      height: 45px;
      background-image: url(./images/logo.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
    .controls {
      display: flex;
      gap: 60px;
      margin-left: auto;
      .controls__input {
        position: relative;
        display: inline-block;
        width: 87px;
        height: 50px;
        margin: 0;
        vertical-align: top;
        background: #C16B89;
        border: 1px solid #C16B89;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 2px;
          display: inline-block;
          width: 41px;
          height: 41px;
          background-color: #E7DADA;
          border-radius: 50%;
          transform: translate(0, -50%);
          background-image: url('./images/sun.svg');
          background-repeat: no-repeat;
          background-position: center;
          transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
        }
        &:checked:after {
          transform: translate(calc(100% - 2px), -50%);
          background-color: #110D3E;
          background-image: url('./images/moon.svg');
        }
      }
      .header__score {
        font-size: 32px;
        font-weight: 400;
        color: #000;
      }
    }
  }
}

.footer {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.game {
  margin-top: 35px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
    .active {
      background-color: #a73962;
      color: white;
      font-weight: 700;
    }
  }
  &__section {
    flex: auto;
    padding: 18px;
    background-color: #c16b89;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    line-height: auto;
    text-align: center;
    text-decoration: none;
    user-select: none;
    transition: all .3s linear;
    &:nth-child(1) {
      border-top-left-radius: 13px;
      border-bottom-left-radius: 13px;
    }
    &:last-child {
      border-top-right-radius: 13px;
      border-bottom-right-radius: 13px;
    }
  }
}

.audio {
  margin-bottom: 45px;
  margin-left: auto;
  padding: 72px 65px;
  border-radius: 13px;
  background-color: #ede7e7;
  background-image: url("./images/unknown.png");
  background-repeat: no-repeat;
  background-position: 65px center;
  .audio__wrapper {
    display: flex;
    align-items: center;
    gap: 37px;
    margin-left: auto;
    max-width: 1250px;
    .audio__btn {
      margin: 0;
      padding: 20px;
      width: 92px;
      height: 92px;
      border: 3px solid #a73962;
      border-radius: 50%;
      background-color: transparent;
      background-image: url("./images/play.svg");
      background-repeat: no-repeat;
      background-position: 28px center;
      cursor: pointer;
    }
    .is-play {
      background-image: url("./images/stop.svg");
      background-repeat: no-repeat;
      background-position: 28px center;
    }
    .audio__controls {
      display: flex;
      flex-direction: column;
      gap: 19px;
      padding-top: 38px;
      .audio__container {
        .audio__progress {
          width: 1121px;
          height: 5px;
          border: none;
          background-color: #C16B89;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        
          &::-webkit-slider-thumb {
            width: 29px;
            height: 29px;
            border-radius: 50%;
            background-color: #7F7171;
            margin-top: 1px;
            transition: .5s linear;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
        }
      }
      .audio__timeline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .audio__time {
          font-size: 24px;
          font-weight: 400;
          color: #000;
        }
      }
    }
  }
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  margin-bottom: 45px;

  .questions__wrapper {
    padding: 0 28px;
    background-color: #ede7e7;
  }

  .questions__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    border-radius: 13px;
    .questions__label {
      position: relative;
      padding: 21px 0;
      width: 100%;
      font-size: 24px;
      font-weight: 400;
      line-height: auto;
      color: #000;
      cursor: pointer;
      &:not(:last-child) {
        border-bottom: 3px solid #b09e9e;
      }
      .questions__input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
      }
      .questions__checkbox {
        position: absolute;
        right: 0;
        width: 25px;
        height: 25px;
        border: 2px solid transparent;
        border-radius: 50%;
        background-color: #b09e9e;
        transition: background 0.3s linear;
      }
      .questions__input:checked + .questions__checkbox {
        background-color: #a73962;
      }
      .questions__input:hover + .questions__checkbox {
        border-color: #a73962;
      }
      .questions__input:checked:hover + .questions__checkbox {
        border-color: white;
      }
      .questions__input:focus + .questions__checkbox {
        border-color: #a73962;
      }
      .questions__input:checked:focus + .questions__checkbox {
        border-color: white;
      }
    }
    .true {
      color: #1fb12e;
      .questions__input:checked + .questions__checkbox {
        display: none;
      }
      .questions__input + .questions__checkbox {
        display: none;
      }
    }
    .false {
      color: #e11244;
      .questions__input:checked + .questions__checkbox {
        display: none;
      }
      .questions__input + .questions__checkbox {
        display: none;
      }
    }
  }
  .questions__descr {
    display: none;
  }
  .questions__container {
    padding: 25px 28px;
    width: 50%;
    border-radius: 13px;
    background-color: #ede7e7;
    height: 379px;

    .descr__text {
      font-size: 24px;
      font-weight: 400;
      color: #000;
      text-align: center;
    }
    .descr__container {
      display: flex;
      gap: 25px;
      .descr__img {
        max-width: 261px;
        max-height: 202px;
        border-radius: 15px;
      }
      .descr__content {
        display: flex;
        flex-direction: column;
        .descr__title {
          margin-bottom: 19px;
          font-size: 32px;
          font-weight: 400;
          color: #000;
        }
        .descr__suptitle {
          margin-bottom: 29px;
          font-size: 24px;
          font-weight: 400;
          color: #000;
        }
      }
    }
  }
}

.game__btn {
  margin-bottom: 80px;
  padding: 19px 0;
  width: 100%;
  border: 2px solid #cfc1c1;
  border-radius: 13px;
  background-color: #cfc1c1;
  font-size: 24px;
  font-weight: 400;
  line-height: auto;
  color: black;
  cursor: pointer;
  transition: 0.3s linear;
  &:hover,
  &:focus {
    color: white;
    background-color: #a73962;
  }
  &:disabled {
    background-color: #a73962;
    pointer-events: none;
  }
}

.footer {
  position: relative;
  margin-top: auto;
  padding: 20px;
  background-color: #c16b89;
  .footer__link,
  .footer__copyright {
    font-size: 24px;
    font-weight: 500;
    line-height: auto;
    text-align: center;
    color: black;
    text-decoration: none;
    transition: color 0.3s linear;
    &:hover,
    &:focus {
      color: #e7dada;
    }
  }
}

.swan {
  position: absolute;
  top: -60px;
  right: 0;
  width: 94px;
  height: 65px;
  background-image: url("./images/swan.png");
  background-repeat: no-repeat;
  background-size: cover;
  animation: swan-roaming 40s infinite linear;
  transition: .3s linear;
}

@keyframes swan-roaming {
  0% {
    right: 0;
    transform: scaleX(1);
  }

  49% {
    right: 100%;
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(-1);
  }

  51% {
    right: calc(100% - 94px);
    transform: scaleX(-1);
  }

  100% {
    transform: scaleX(-1);
  }
}
