h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  padding: 0;
  background-color: #e7dada;
  transition: 0.2s linear;
}

.start-page,
.quiz-page,
.results-page,
.gallery-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1680px;
  padding: 0 10px;
  margin: 0 auto;
}

.dark {
  background-color: #110d3e;
}
.dark .swan {
  background-image: url("../images/swan_light.png");
}
.dark .header .header__wrapper .controls .header__score {
  color: white;
}
.dark .start-page .main {
  background-image: url("../images/start/wing-dark.png");
}

.start-page .main {
  width: 100%;
  height: 955px;
  background-image: url("../images/start/wing-light.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header .game__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 13px;
  margin: 0 auto;
  background-color: #c16b89;
  max-width: 1680px;
}
.header .game__wrapper .game__section:hover {
  color: white;
}

.results-page .main__wrapper {
  margin: 45px 0;
  padding: 75px 50px;
  border-radius: 13px;
  background: url("../images/results/ice-tea.png") 1% 40px, url("../images/results/music.png") 97% 40px;
  background-repeat: no-repeat;
  background-color: #F5EFEF;
  text-align: center;
}
.results-page .main__title {
  font-size: 64px;
  font-weight: 400;
  color: #000;
}
.results-page .main__descr {
  font-size: 36px;
  font-weight: 400;
  color: #000;
}
.results-page .main__btn {
  width: 100%;
  padding: 21px 10px;
  border: none;
  border-radius: 13px;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  background-color: #c16b89;
  cursor: pointer;
  transition: 0.3s linear;
}
.results-page .main__btn:hover, .results-page .main__btn:focus {
  color: white;
  background-color: #a73962;
}
.results-page .results__bold {
  font-weight: 700;
}

.header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-top: 30px;
}
.header .header__wrapper .header__logo {
  width: 363px;
  height: 45px;
  background-image: url("../images/icons/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.header .header__wrapper .controls {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-left: auto;
}
.header .header__wrapper .controls .controls__label {
  display: none;
}
.header .header__wrapper .controls .controls__input {
  position: relative;
  display: inline-block;
  width: 87px;
  height: 50px;
  margin: 0;
  vertical-align: top;
  background: #c16b89;
  border: 1px solid #c16b89;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.header .header__wrapper .controls .controls__input:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  display: inline-block;
  width: 41px;
  height: 41px;
  background-color: #e7dada;
  border-radius: 50%;
  transform: translate(0, -50%);
  background-image: url("../images/icons/sun.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.header .header__wrapper .controls .controls__input:checked:after {
  transform: translate(calc(100% - 2px), -50%);
  background-color: #110d3e;
  background-image: url("../images/icons/moon.svg");
}
.header .header__wrapper .controls .header__score {
  position: relative;
  font-size: 32px;
  font-weight: 400;
  color: #000;
}
.header .header__wrapper .controls .header__score::after {
  content: "";
  position: absolute;
  left: -70px;
  top: 50%;
  width: 83px;
  height: 83px;
  background-image: url("../images/feather.png");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.game {
  margin-top: 35px;
}
.game__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 45px;
  border-radius: 13px;
  background-color: #c16b89;
}
.game__wrapper .active {
  background-color: #a73962;
  color: white;
  font-weight: 700;
}
.game__section {
  flex: auto;
  padding: 18px;
  border-radius: 13px;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  line-height: auto;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.3s linear;
}

.audio {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  margin-left: auto;
  padding: 72px 65px;
  border-radius: 13px;
  background-color: #F5EFEF;
}
.audio .audio__img {
  width: 208px;
  height: 208px;
  border-radius: 50%;
}
.audio .audio__wrapper {
  display: flex;
  align-items: center;
  gap: 37px;
  margin-left: auto;
  max-width: 1250px;
}
.audio .audio__wrapper .audio__btn {
  margin: 0;
  padding: 20px;
  width: 92px;
  height: 92px;
  border: 3px solid #a73962;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../images/icons/play.svg");
  background-repeat: no-repeat;
  background-position: 28px center;
  cursor: pointer;
}
.audio .audio__wrapper .is-play {
  background-image: url("../images/icons/stop.svg");
  background-repeat: no-repeat;
  background-position: 28px center;
}
.audio .audio__wrapper .audio__controls {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding-top: 38px;
}
.audio .audio__wrapper .audio__controls .audio__container .audio__progress {
  width: 100%;
  height: 5px;
  border: none;
  background-color: #c16b89;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.audio .audio__wrapper .audio__controls .audio__container .audio__progress::-webkit-slider-thumb {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: #7f7171;
  margin-top: 1px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.audio .audio__wrapper .audio__controls .audio__timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.audio .audio__wrapper .audio__controls .audio__timeline .audio__time {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.questions {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 45px;
}
.questions .questions__wrapper {
  padding: 0 28px;
  background-color: #F5EFEF;
}
.questions .questions__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  border-radius: 13px;
}
.questions .questions__wrapper .questions__label {
  position: relative;
  padding: 21px 0;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: auto;
  color: #000;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.questions .questions__wrapper .questions__label:not(:last-child) {
  border-bottom: 3px solid #b09e9e;
}
.questions .questions__wrapper .questions__label .questions__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.questions .questions__wrapper .questions__label .questions__checkbox {
  position: absolute;
  right: 0;
  width: 25px;
  height: 25px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #b09e9e;
  transition: background 0.3s linear;
}
.questions .questions__wrapper .questions__label .questions__input:checked + .questions__checkbox {
  background-color: #a73962;
}
.questions .questions__wrapper .questions__label .questions__input:hover + .questions__checkbox {
  border-color: #a73962;
}
.questions .questions__wrapper .questions__label .questions__input:checked:hover + .questions__checkbox {
  border-color: white;
}
.questions .questions__wrapper .questions__label .questions__input:focus + .questions__checkbox {
  border-color: #a73962;
}
.questions .questions__wrapper .questions__label .questions__input:checked:focus + .questions__checkbox {
  border-color: white;
}
.questions .questions__wrapper .true {
  color: #1fb12e;
}
.questions .questions__wrapper .true .questions__input:checked + .questions__checkbox {
  display: none;
}
.questions .questions__wrapper .true .questions__input + .questions__checkbox {
  display: none;
}
.questions .questions__wrapper .false {
  color: #e11244;
}
.questions .questions__wrapper .false .questions__input:checked + .questions__checkbox {
  display: none;
}
.questions .questions__wrapper .false .questions__input + .questions__checkbox {
  display: none;
}
.questions .questions__descr {
  display: none;
}
.questions .questions__container {
  padding: 25px 28px;
  width: 50%;
  border-radius: 13px;
  background-color: #F5EFEF;
}
.questions .questions__container .descr__text {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  text-align: center;
}
.questions .questions__container .descr__container {
  display: flex;
  gap: 25px;
}
.questions .questions__container .descr__container .descr__img {
  max-width: 261px;
  max-height: 202px;
  border-radius: 15px;
}
.questions .questions__container .descr__container .descr__content {
  display: flex;
  flex-direction: column;
}
.questions .questions__container .descr__container .descr__content .descr__title {
  margin-bottom: 19px;
  font-size: 32px;
  font-weight: 400;
  color: #000;
}
.questions .questions__container .descr__container .descr__content .descr__suptitle {
  margin-bottom: 29px;
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

.game__btn {
  margin-bottom: 80px;
  padding: 19px 0;
  width: 100%;
  border: none;
  border-radius: 13px;
  background-color: #c16b89;
  font-size: 24px;
  font-weight: 400;
  line-height: auto;
  color: black;
  cursor: pointer;
  transition: 0.3s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.game__btn:hover, .game__btn:focus {
  color: white;
  background-color: #a73962;
}
.game__btn:disabled {
  background-color: #cfc1c1;
  pointer-events: none;
}

.footer {
  position: relative;
  margin-top: auto;
  background-color: #c16b89;
}
.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.footer .footer__wrapper .footer__link,
.footer .footer__wrapper .footer__copyright {
  font-size: 24px;
  font-weight: 500;
  line-height: auto;
  text-align: center;
  color: black;
  text-decoration: none;
  transition: color 0.3s linear;
}
.footer .footer__wrapper .footer__link:hover, .footer .footer__wrapper .footer__link:focus,
.footer .footer__wrapper .footer__copyright:hover,
.footer .footer__wrapper .footer__copyright:focus {
  color: #e7dada;
}
.footer .footer__wrapper .footer__link .footer__copyright,
.footer .footer__wrapper .footer__copyright .footer__copyright {
  pointer-events: none;
}

.swan {
  position: absolute;
  top: -60px;
  right: 0;
  width: 94px;
  height: 65px;
  background-image: url("../images/swan.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: swan-roaming 40s infinite linear;
          animation: swan-roaming 40s infinite linear;
  transition: 0.3s linear;
}

@-webkit-keyframes swan-roaming {
  0% {
    right: 0;
    transform: scaleX(1);
  }
  49% {
    right: 100%;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  51% {
    right: calc(100% - 94px);
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(-1);
  }
}

@keyframes swan-roaming {
  0% {
    right: 0;
    transform: scaleX(1);
  }
  49% {
    right: 100%;
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  51% {
    right: calc(100% - 94px);
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(-1);
  }
}/*# sourceMappingURL=styles.css.map */